Ans1:
1. * is an expression and denotes multiplication
2. 'hello' is a value (string)
3. -87.8 is a value(integer)
4. - is an expression used for subtraction
5. / is an expression used for division
6. + is an expression used for addition
7. 6 is a value(integer)

Ans2:
A variable is something that stores data or value for example:
if i write a=234 then a is variable and 234 is its valur or andy="ineuron" here andy is variable and 'ineuron is it's value.
A string is type of info or value that we store in a variable. String is a sequence of characters that is usually written inside single or double quotes.
for example:
str = "ineuron" here ineuron is a string of variable str.

Ans3:
1.Integer data type (int): It contains integer values i.e. positive and negattive whole numbers with no fraction or decimal
for example: num= 2342432  here  variable num has integer value.

In [12]:
a=2342432
type(a)

int

2.String data Type(str): It contain sequence of characters that can be numbers or alphabets or both mixed provided they 
  are assigned inside single quotes( ' ') or double quotes(" ")

In [13]:
#for example:
str = "ineuron" #here variable str has string data type
type(str)

str

3.List data type (list): It is an ordered collection of items or data. Just like an array we can store any type of data inside a list . it is assigned between Square brackets ([ ]) and items in list are seperated by comma.

In [14]:
# for example:
l=["ineuron" ,213,'azdsf',3.2133]
type(l)

list

In [15]:
'''
Ans4:
An expression is combo of values,variables and operators. They are used to evaluate a single value of a variable by calculating them using 
other variable,values and operating them with operators(+,-,/,*,%,**). for example : '''
a=20
b=30
c=a+b #expression
print(c)

50

Ans5:
A statement is a code that has an effect like assigning value to variable,creating and displaying variable, it does not perform any calculation whereas 
an expression evaluates value of a variable using combination of operators and operands and produces the result value, an expression is also a statement that evalates a value.
Here spam = 10 is a stantement as we are assigning a value to a variable and not performing any calculation here.

Ans6:
bacon =22
bacon +1
Here the variable bacon still has value 22 as we have not assigned any value to bacon we have just calculated bacon +1 i.e 23 but original value of bacon is still 22

In [16]:
'''Ans7:'''
'spam'+'spamspam'

'spamspamspam'

In [17]:
'spam'*3

'spamspamspam'

both have same value i.e.'spamspamspam'

Ans8:
In pyhton a variable must start with alphabet or underscore and must contain alphanumeric and underscore characters only.
So egg satisfies these condition so it is a valid variable name whereas 100 starts with integer value which is not allowable syntax so it is invalid

Ans9:
To get integer --> int(variable_name)
To get floating pt no --> float(variable_name)
To get string --> str(variable_name)

Ans10:
'I have eaten' + 99 + 'burritos'
This statement gives an error beacuse we are adding string data dype with integer data type , we can only concatenate string variables together so the 99 in between which is an integer causes an error
so to resolve this we make 99 as String by  simmply using single quotes:

In [18]:
'I have eaten ' + '99' + ' burritos'

'I have eaten 99 burritos'